<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>High Seas Angular Form</title>

  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <form name="update">

          <div class="form-group">
            <label for="email" class="label-control">Email</label>
            <input id="email" name="email" type="text" class="form-control" ng-model="form.email">
          </div>

          <div class="form-group">
            <label for="username" class="label-control">Username</label>
            <input id="username" name="username" type="text" class="form-control" ng-model="form.username">
          </div>

          <div class="form-group">
            <label for="password" class="label-control">Password</label>
            <input id="password" name="password" type="text" class="form-control" ng-model="form.password">
          </div>

          <div class="form-group">
            <label for="email" class="label-control">Confirm Password</label>
            <input id="email" name="email" type="text" class="form-control" ng-model="form.password-confirm">
          </div>

          <input type="text" class="btn btn-primary" value="Submit">
        </form>
      </div>
    </div>
  </div>

  <script src="../node_modules/angular/angular.js"></script>
  <script src="./controllers/form.controller.js"></script>
  <script src="./services/users.service.js"></script>
</body>
</html>
