<form name="profile" onsubmit="form.validate()">
  <div class="form-group">
    <label for="email" class="label-control">Email</label>
    <input id="email" name="email" type="text" class="form-control" ng-model="form.email">
  </div>

  <div class="form-group">
    <label for="username" class="label-control">Username</label>
    <input id="username" name="username" type="text" class="form-control" ng-model="form.username">
  </div>

  <div class="form-group">
    <label for="password" class="label-control">Password</label>
    <input id="password" name="password" type="text" class="form-control" ng-model="form.password">
  </div>

  <div class="form-group">
    <label for="email" class="label-control">Confirm Password</label>
    <input id="email" name="email" type="text" class="form-control" ng-model="form.password-confirm">
  </div>

  <input type="text" class="btn btn-primary pull-right" value="Submit">
</form>
